* {
  padding: 0;
  margin: 0;
}
/********Header******/
.header {
  background: #630500;
  width: 100%;
  height: 100px;
  padding: 20px 0px;
}
.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ffd800;
}
.navbar-brand {
  display: none !important;
}
.order p {
  color: #ffd800;
}
.time p {
  font-size: 16px;
  color: #fff;
}
.time p span {
  font-weight: bold;
  font-size: 20px;
}
/********first block******/
.bg_1 {
  background-image: url(../images/bg_1.png);
  background-size: cover;
}
.bg_1color {
  background-color: rgba(0, 0, 0, 0.6);
}
.product {
  margin-top: 100px;
}
.product h3 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.product h3 span {
  color: #ffd800;
  text-transform: uppercase;
  font-size: 62px;
}
.bag {
  margin-top: 70px;
}
.plus {
  padding-bottom: 50px;
}
.plus li {
  list-style: none;
  color: #ffd800;
  font-size: 28px;
}
.plus li i {
  padding-right: 15px;
}
.plus img {
  padding-left: 20px;
}
.fon_sales {
  width: 450px;
  height: 170px;
  position: absolute;
  top: 100px;
}
.sales .fon_sales img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.sales p {
  position: absolute;
  top: 120px;
  left: 170px;
  text-align: center;
}
.white {
  font-family: 'helveticaneuecyrbold';
  font-size: 48px;
  color: #fff;
  letter-spacing: 1px;
}
.grey {
  font-family: 'helveticaneuecyrlight';
  font-size: 30px;
  color: #939393;
}
.text_counter h3 {
  color: #e60378;
  font-size: 22px;
  font-family: 'helveticaneuecyrbold';
  margin-top: 50px;
  letter-spacing: 1px;
}
.text_counter p {
  color: #4c4850;
  font-family: 'helveticaneuecyrroman';
  font-size: 16px;
  letter-spacing: 1px;
}
.sales h3 {
  color: #fff;
  font-family: 'helveticaneuecyrlight';
  font-size: 30px;
  margin-top: 320px;
  text-align: center;
}
.countdown {
  font-family: 'helveticaneuecyrlight';
  color: #000;
  display: inline-block;
  margin-left: 70px;
  margin-top: 5px;
}
.countdown-number {
  background-image: url(../images/time.png);
  display: inline-block;
  width: 95px;
  height: 91px;
  padding: 10px;
}
.countdown span.countdown-time {
  text-align: center;
  font-size: 38px;
  margin-left: 17px;
}
.countdown .countdown-text {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.form {
  margin-top: 40px;
  margin-left: 70px;
}
.form input {
  background: #e8e7e7;
  width: 410px;
  height: 50px;
  border-radius: 20px;
  outline: none!important;
  text-tramsform: uppercase;
  border: none!important;
}
button:focus {
  outline: none!important;
}
.btn-primary {
  width: 410px;
  background-color: #ff0000 !important;
  border: none!important;
  font-size: 26px!important;
  text-align: center;
  font-family: 'helveticaneuecyrbold' !important;
  border-color: none!important;
  -webkit-transition: 8s;
  -o-transition: 8s;
  transition: 8s;
  margin-bottom: 50px;
  color: #fff;
  border-radius: 20px!important;
}
.btn-primary:hover {
  background-color: #ffd800 !important;
  color: #ff0000 !important;
}
/******second block******/
.bg_2 {
  background-image: url(../images/bg_2.jpg);
  background-size: cover;
}
.title {
  color: #ffd800;
  font-size: 36px;
  font-weight: bold;
  font-family: 'helveticaneuecyrbold';
  text-align: center;
  margin-top: 60px;
  margin-bottom: 45px;
}
.text_work {
  font-size: 17px;
  margin-left: 15px;
  font-weight: bold;
  font-family: 'helveticaneuecyrlight';
  color: #fff;
}
/********third block*****/
.bg_3 {
  background-image: url(../images/bg_3.png);
  background-size: cover;
}
.bg_3color {
  background-color: rgba(0, 0, 0, 0.6);
}
.icon {
  margin-bottom: 60px;
  margin-top: 30px;
}
.icon_img img {
  border: 6px solid #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.icon_img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 6px solid #ffd800;
}
.icon p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 50px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.icon p:hover {
  color: #ffd800;
}
/******fourth block*****/
.benef {
  display: inherit;
  margin-top: 50px;
  margin-bottom: 50px;
}
.benef p {
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/********fifth*****/
.str {
  position: relative;
  bottom: 200px;
  left: 260px;
}
.people {
  margin: 0px!important;
  padding: 0px!important;
}
.people_img img {
  width: 100%;
  height: 100%;
}
.text_people {
  background: #fff;
  height: 382px;
}
.text_people p {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
.title_text {
  margin-top: 40px;
  font-style: italic;
  font-weight: bold;
}
/*****last block****/
.countdown2 {
  font-family: 'helveticaneuecyrlight';
  color: #000;
  display: inline-block;
  margin-left: 70px;
  margin-top: 5px;
}
.countdown-number2 {
  background-image: url(../images/time.png);
  display: inline-block;
  width: 95px;
  height: 91px;
  padding: 10px;
}
.countdown2 span.countdown-time {
  text-align: center;
  font-size: 38px;
  margin-left: 17px;
}
.countdown2 .countdown-text {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
/******footer*****/
.footer {
  height: 150px;
}
.footer_link1,
.footer_link2 {
  margin-top: 40px;
  font-family: 'helveticaneuecyrbold';
  color: #ff0000;
  font-size: 20px;
}
.footer_link1 a {
  font-family: 'helveticaneuecyrbold';
  color: #ff0000;
  font-size: 22px;
  margin-left: 160px;
  letter-spacing: 1px;
  text-decoration: underline;
}
.footer_link2 a {
  font-family: 'helveticaneuecyrbold';
  color: #ff0000;
  font-size: 22px;
  margin-left: 80px;
  text-decoration: underline;
}
.text {
  height: 20px;
}
.footer_text {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
